<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>TodoList(vue.js)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <div class="container">
  <div id="app">
    <input type="text" placeholder="請輸入待辦事項" @keyup.enter="addTodo(newTodo)" v-model="newTodo" class="form-control" autofocus/>
    <div class="clearfix">
      <h2 class="pull-left">事項列表</h2>
      <h5 class="pull-right uncomplete-count">
    待處理項目：{{uncompleteCount}}
  </h5>
    </div>
    <ul class="list-group">
      <li v-for="todo in filterTodos" :key="todo.id" class="list-group-item">
        <input type="checkbox" v-model="todo.complete" /> {{todo.content}} - <a href="#" @click.prevent="removeTodo(todo)">刪除</a>
      </li>
    </ul>
    <button @click="showAll()" class="btn btn-primary" v-bind:class="{active: all}">全部顯示</button>
    <button @click="showCompleted()" class="btn btn-primary" v-bind:class="{active: completed}">已處理</button>
    <button @click="showUncomplete()" class="btn btn-primary" v-bind:class="{active: uncomplete}">未處理</button>
  </div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
